{% extends 'content_base.html.twig' %}

{% block title %}Manage user{% endblock %}

{% block content_class %}
    {{ parent() }}
    show-article-container-border-green
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css')}}">
{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Manage user ({{ users.getTotalItemCount }})</h1>

            <form>
                <div class="input-group form-signin">
                    <input type="text"
                           name="q"
                           class="form-control"
                           value="{{ app.request.query.get('q') }}"
                           placeholder="Search..."
                    >
                    <div class="input-group-append">
                        <button type="submit"
                                class="btn btn-outline-secondary">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>


            <table class="table table-striped js-table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>email</th>
                    <th>firstName</th>
                    <th>roles</th>
                    <th>creado</th>
                    <th>Borrar</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.id }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {{ user.firstName }}
                        </td>
                        <td>
                            {{ user.roles|join(',') }}
                        </td>
                        <td>
                            {{ user.creado|ago }}
                        </td>
                        <td>
                            <a  href="#" class="js-delete" data-url="{{ path('borrar_datos', {id: user.id}) }}">
                                <i class="fa fa-th-large"></i>
                                <span class="nav-label">borrar</span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            No user found
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ knp_pagination_render(users) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/delete_user.js') }}"></script>
{% endblock %}
